@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

//Primary
$PriC-gradient: linear, hsl(249, 99%, 64%), hsl(278, 94%, 30%);
$PriC-error:  hsl(0, 100%, 66%);

//Secondary
$LightGray: hsl(270, 3%, 87%);
$DarkGray: hsl(279, 6%, 55%);
$DarkViolet: hsl(278, 68%, 11%);

$Body-Font: 'Space Grotesk', sans-serif;
$Body-fontSize: 18px;
