@import '../../varibles';

form {
    width: clamp(340px, 55%, 380px) !important;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;

    input {
        border: 1px solid $LightGray;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        caret-color: $NViolet;
        
        &::placeholder {
            color: hsl(270, 2%, 82%);
            font-weight: 500;
        }
        &:focus {
            color: $DarkViolet;
            border-color: $NViolet;
            outline: none;
        }
    }
    button {
        background-color: $DarkViolet !important;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: .5px;
    }
}
.Error-MSG {
    font-size: 12px;
    letter-spacing: normal;
}