@import '../../varibles';

form {
    width: clamp(300px, 55%, 380px) !important;
    font-size: calc(10px + .3dvw);
    font-weight: 500;
    letter-spacing: 1px;

    input {
        border: 1px solid $LightGray;
        border-radius: 5px;
        font-size: calc(12px + .3dvw);
        font-weight: 600;
        caret-color: $NViolet;
        
        &::placeholder {
            color: hsl(270, 2%, 82%);
            font-weight: 500;
        }
        &:focus {
            color: $DarkViolet;
            border-color: $NViolet;
            outline: none;
        }
    }
    .BTN-true {
        background-color: $DarkViolet !important;
        border-radius: 5px;
        font-size: calc(13px + .3dvw);
        letter-spacing: .5px;
        user-select: none;
    }
    .BTN-false {
        background-color: $LightGray !important;
        border-radius: 5px;
        font-size: calc(13px + .3dvw);
        letter-spacing: .5px;
        user-select: none;
    }
}
.Error-MSG {
    font-size: calc(9px + .3dvw);
    letter-spacing: normal;
}