@import '../../varibles';

.Card-side {
    background-image: url(../../../assets/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $DarkViolet;
    font-size: calc(12px + .5dvw);
}

.Card {
    width: clamp(280px, calc(100% + 2dvw), 445px);
    height: clamp(180px, calc(80% + 2dvw), 255px);

    .Card-front, .Card-back {
        background-size: contain;
        background-repeat: no-repeat;
        width: clamp(280px, calc(100% + 2dvw), 445px);
        height: clamp(180px, calc(80% + 2dvw), 255px);
    }

    .Card-front {
        background-image: url(../../../assets/images/bg-card-front.png);
        z-index: 2;

        &__logo {
            position: absolute;
            top: calc(5% + 1dvw);
            left: calc(3% + 1dvw);
        }
        &__inform {
            position: absolute;
            bottom: calc(65% - 10dvw);
        }
            &__inform--num {
                font-size: calc(.8rem + .8dvw);
                font-weight: 500;
                letter-spacing: 1.5px;
            }
            &__inform--name, &__inform--date {
                font-size: calc(.5rem + .7dvw);
                font-weight: 400;
            }
        
    }

    .Card-back {
        background-image: url(../../../assets/images/bg-card-back.png);

        &__CVC--con {
            position: absolute;
            top: calc(6.3% + 6.7dvw);  
            right: calc(2% + 1dvw);          
        }        
        &__CVC--num {
            position: absolute;
            top: calc(5% + .5dvw);
            right: calc(12% + 1dvw);                            
        }
    }
}

// Media Query
// Mobile
@media only screen and (max-width: 640px) {
    .Card {width: clamp(280px, calc(100% + 2dvw), 350px)}
    .Card-side {

        &::before {
        content: "";
        height: 250px !important;
        background-image: url(../../../assets/images/bg-main-mobile.png);
        }
    }
    .Card-front {
        top: calc(10rem + 5dvw) !important;
    }
    .Card-back {

        &__CVC--con {
            top: calc(6.3% + 6.7dvw);  
            right: calc(2% + 1dvw);          
        }          
        &__CVC--num {
            top: calc(5% + .5dvw);
            right: calc(12% + 1dvw);                            
        }
    }
}
// Tablets
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .Card-front {
        &__inform {
            width: 97% !important;
            left: calc(32% - 12dvw) !important;
            bottom: calc(75% - 14dvw) !important;
        }
    }
    .Card-back {
        &__CVC--con {
            top: calc(8% + 6dvw) !important;  
            right: calc(3% + 1dvw) !important;          
        }        
    }
}
@media only screen and (min-width: 1281px) {
    .Card-front{
        &__inform {
            width: 95% !important;
        }
    }
    .Card-back {
        &__CVC--con {
            top: calc(6% + 6dvw) !important;  
            right: calc(2% + 1dvw) !important;          
        }
    }
}
// NoteBook
@media only screen and (min-width: 1400px) {
    .Card-front {
        &__inform {
            width: 95% !important;
            // left: calc(32% - 12dvw) !important;
            bottom: calc(75% - 10dvw) !important;
        }
    }
    .Card-back {

        &__CVC--con {
            top: calc(6% + 5dvw) !important;  
            right: calc(2% + .5dvw) !important;          
        }
    }
}
@media only screen and (min-width: 1740px) {
    .Card-front__inform {
        left: calc(32% - 7dvw) !important;
        bottom: calc(70% - 8dvw) !important;
    }
    .Card-back {

        &__CVC--con {
            top: calc(4% + 5dvw) !important;  
            right: calc(5% + 2dvw) !important;          
        }
        &__CVC--num {
            top: calc(85% - 1dvw) !important;
            right: 1% !important;                        
        }
    }
}